.product {
  padding: 20px;
}

.posterImg {
  width: 350px;
  height: 350px;
  object-fit: contain;
  border-radius: 5px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  position: relative;
  margin-top: 10px;
  margin-left: 200px;
  margin-bottom: 10px;
}

.productAddButton {
  width: 200px;
  height: 40px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 50px;
  min-width: 700px;
  min-height: 400px;
  margin-left: -20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  margin-top: 0px;
}

.productInfoBottom {
  margin-top: 20px;
}

.productInfoItem {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}

.productInfoKey {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.productInfoValue {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 10px;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.logged-in {
  color: green;
}

.logged-out {
  color: red;
}
