.widgetLg {
  position: relative;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.859);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 50px;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #f2f2f2;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
  /* border-width: 2px; */
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 300;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.Declined {
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.Pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

th,
td {
  border: 1px solid black;
  margin: 0px 0px;
  padding: 5px 5px;
}

.widgetLg .cellAction .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
