.JobApplicationContainer {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.tableContainer {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.tableContainer td {
  border: none;
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald);

/****************************************/
/* Styling rules, such as font and colors */
.dateAsCalendar {
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-family: "Helvetica", "Arial", sans-serif;

  /* It seems vertical-align: baseline does not work correctly with display: inline-flex. */
  vertical-align: top;

  /* margin: 1ex; */

  color: black;
  background: white;
  background: linear-gradient(to bottom right, #fff 0%, #eee 100%);

  border: 1px solid #888;
  border-radius: 3px;
  overflow: hidden;

  box-shadow: 2px 2px 2px -2px black;
}
.dateAsCalendar .weekday,
.dateAsCalendar .day,
.dateAsCalendar .month,
.dateAsCalendar .year {
  text-align: center;
  line-height: 1;
}
.dateAsCalendar .month {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background: #b11;
  background: linear-gradient(to bottom right, #d66 0%, #a00 100%);
  color: white;
}

/****************************************/
/* Layout rules using position: absolute and pixels. */
.positionPixels.dateAsCalendar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.positionPixels.dateAsCalendar .weekday,
.positionPixels.dateAsCalendar .day,
.positionPixels.dateAsCalendar .month,
.positionPixels.dateAsCalendar .year {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
}
.positionPixels.dateAsCalendar .month {
  top: 0px;
  font-size: 14px;
}
.positionPixels.dateAsCalendar .weekday {
  top: 20px;
  font-size: 12px;
}
.positionPixels.dateAsCalendar .day {
  top: 34px;
  font-size: 20px;
}
.positionPixels.dateAsCalendar .year {
  top: 56px;
  font-size: 16px;
}

/****************************************/
/* Layout rules using position: absolute and relative dimensions using em. */
.position-em.dateAsCalendar {
  display: inline-block;
  position: relative;

  width: 4em;
  height: 4em;
}
.position-em.dateAsCalendar .weekday,
.position-em.dateAsCalendar .day,
.position-em.dateAsCalendar .month,
.position-em.dateAsCalendar .year {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
}
.position-em.dateAsCalendar .month {
  top: 0px;
  font-size: 0.75em;
  padding: 0.1em 0;
}
.position-em.dateAsCalendar .weekday {
  top: 1.6em;
  font-size: 0.6125em;
}
.position-em.dateAsCalendar .day {
  top: 1.1em;
  font-size: 1.5em;
}
.position-em.dateAsCalendar .year {
  bottom: 0px;
  font-size: 0.8775em;
}

/****************************************/
/* Layout rules using display: inline-flex and relative dimensions using em. */
.inline-flex.dateAsCalendar {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 4em;
  height: 4em;
}
.inline-flex.dateAsCalendar .weekday,
.inline-flex.dateAsCalendar .day,
.inline-flex.dateAsCalendar .month,
.inline-flex.dateAsCalendar .year {
  display: block;
  flex: 1 1 auto;
}
.inline-flex.dateAsCalendar .month {
  order: 1;
  font-size: 0.75em;
  padding: 0.1em 0;
}
.inline-flex.dateAsCalendar .weekday {
  order: 2;
  font-size: 0.6125em;
}
.inline-flex.dateAsCalendar .day {
  order: 3;
  font-size: 1.5em;
}
.inline-flex.dateAsCalendar .year {
  order: 4;
  font-size: 0.8775em;
}

/****************************************/
/* Multiple sizes. */
.dateAsCalendar.size0_5x {
  font-size: 8px;
}
.dateAsCalendar.size0_75x {
  font-size: 12px;
}
.dateAsCalendar.size1x {
  font-size: 16px;
}
.dateAsCalendar.size1_25x {
  font-size: 20px;
}
.dateAsCalendar.size1_5x {
  font-size: 24px;
}
.dateAsCalendar.size1_75x {
  font-size: 28px;
}
.dateAsCalendar.size2x {
  font-size: 32px;
}
.dateAsCalendar.size3x {
  font-size: 48px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.cardImg {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
}
.searchbuttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 16px 20px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  margin-top: 14px;
}
.detailbutton {
  background-color: var(--active-light-color);
  color: var(--active-color);
  font-size: 22px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
}
.jobcardheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detailbutton + .detailbutton {
  margin-left: 8px;
}
.jobcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;

  margin-left: 300px;
  padding: 25px 25px;
  font-family: "Poppins", sans-serif;
}

.jpaimg {
  width: 100px;
  height: 100px;

  object-fit: cover;
  background-color: rgb(0, 255, 94);
  margin-left: 5px;
  /* border: 0.5px solid black;
      border-radius: 5px; */
}

.jobtitle {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  /* font-family: 'Roboto', sans-serif; */
}

.jth {
  font-size: 40px;
}

.resumed {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 25px;

  font-weight: 600;
  font-size: 25px;
}

.icon {
  padding: 10px;
}

.middlediv {
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkviolet;
}
.submiddlediv {
  display: flex;
  justify-content: left;

  font-size: 20px;
  font-weight: 600;
}

.paragraph {
  /* font-family: "Poppins", sans-serif;
      font-family: 'Merriweather', serif; */
  display: flex;
  justify-content: left;

  margin-left: 0;
  padding-left: 0;

  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.description {
  /* font-family: 'Merriweather', serif; */
  display: flex;
  justify-content: left;

  font-size: 20px;
  font-weight: 600;

  padding-bottom: 10px;
  padding-top: 10px;
}

.selectionbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button1 {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  background-color: #f94c66;
}

.button2 {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}

.button1:hover {
  background-color: #f62948;
  transform: scale(1.1, 1.1);
  transition-delay: 0.1s;
}
.button2:hover {
  background-color: #aff4e5;
  transform: scale(1.1, 1.1);
  transition-delay: 0.1s;
}
