@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}
:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: #0162ff;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
}
.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #263d63;
  --border-color: #26262f;
  --search-border-color: #26262f;
}
::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
  color: var(--body-color);
}

.searchbuttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
}
.job-wrapper {
  padding-top: 20px;
}
.job-time {
  padding-top: 20px;
}
.job-time-title {
  font-size: 14px;
  font-weight: 500;
}

.searchedjobs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 160px;
  padding-right: 40px;
}
@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.jobcards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  animation: slideY 0.6s both;
}
@media screen and (max-width: 1212px) {
  .jobcards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 930px) {
  .jobcards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.jobcard {
  padding: 20px 16px;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.jobcard:hover {
  transform: scale(1.02);
}
.jobcard svg {
  width: 46px;
  padding: 10px;
  border-radius: 8px;
}
.jobcardtitle {
  font-weight: 600;
  margin-top: 16px;
  font-size: 14px;
}
.jobcardsubtitle {
  color: var(--subtitle-color);
  font-size: 13px;
  margin-top: 14px;
  line-height: 1.6em;
}
.jobcardheader {
  display: flex;
  align-items: flex-start;
}
.overview-card:hover {
  background: #2b2ecf;
  transition: none;
  transform: scale(1);
}
.overview-card:hover svg {
  box-shadow: none;
}
.overview-card:hover .job-overview-buttons .searchbuttons.time-button,
.overview-card:hover .job-overview-buttons .searchbuttons.level-button {
  background-color: #575ad8;
  color: #fff;
}
.overview-card:hover .jobcardtitle,
.overview-card:hover .job-stat {
  color: #fff;
}
.overview-card:hover .jobcardsubtitle,
.overview-card:hover .job-day {
  color: #dedede;
}
.overview-card:hover .overview-wrapper .heart {
  color: #fff;
  border-color: #fff;
}
.overview-card:hover .overview-wrapper .heart:hover {
  fill: red;
  stroke: red;
  transform: scale(1.1);
}
.detailbutton {
  background-color: var(--active-light-color);
  color: var(--active-color);
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 4px;
}
.detailbutton + .detailbutton {
  margin-left: 4px;
}
.jobcardbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
}
.cardbuttons,
.cardbuttonsmsg {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}
.cardbuttons {
  margin-right: 12px;
}
.cardbuttonsmsg {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}
.menudot {
  background-color: var(--placeholder-color);
  box-shadow: -6px 0 0 0 var(--placeholder-color),
    6px 0 0 0 var(--placeholder-color);
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
}
.header-shadow {
  box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
  z-index: 1;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}
.job-overview {
  display: flex;
  flex-grow: 1;
  display: none;
  animation: slide 0.6s both;
}
.job-overview-cards {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  flex-shrink: 0;
}
.job-overview-card + .job-overview-card {
  margin-top: 20px;
}
.job-overview-buttons {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.job-overview-buttons .searchbuttons {
  background-color: var(--inactive-color);
  font-size: 11px;
  padding: 6px 8px;
  margin-top: 0;
  font-weight: 500;
}
.job-overview-buttons .searchbuttons.time-button {
  color: var(--time-button);
  margin-right: 8px;
}
.job-overview-buttons .searchbuttons.level-button {
  color: var(--level-button);
}
.job-overview-buttons .job-stat {
  color: var(--active-color);
  font-size: 12px;
  font-weight: 500;
  margin-left: auto;
}
.job-overview-buttons .job-day {
  color: var(--subtitle-color);
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.job-overview .overview-wrapper {
  display: flex;
  align-items: center;
}
.job-overview .overview-wrapper svg:first-child {
  width: 42px;
  margin-right: 10px;
}
.job-overview .overview-wrapper .heart {
  background: none;
  box-shadow: none;
  width: 24px;
  padding: 4px;
  color: var(--subtitle-color);
  border: 1px solid var(--border-color);
  margin-left: auto;
  margin-bottom: auto;
}
.overview-detail .jobcardtitle,
.overview-detail .jobcardsubtitle {
  margin-top: 4px;
}
.overview-detail .jobcardsubtitle {
  font-size: 12px;
  font-weight: 500;
}
.job-explain {
  background-color: var(--header-bg-color);
  margin-left: 40px;
  border-radius: 0 0 8px 8px;
}
.job-bg {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  width: 100%;
  height: 180px;
  transition: 0.3s;
  position: relative;
}
.job-logos {
  margin-top: -30px;
  position: relative;
  margin-bottom: -36px;
  padding: 0 20px;
}
.job-logos svg {
  width: 66px;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  border: 4px solid var(--header-bg-color);
}
.job-title-wrapper {
  display: flex;
  align-items: center;
}
.job-title-wrapper .jobcardtitle {
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
}
.job-action {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.job-action svg {
  width: 32px;
  border: 1px solid var(--border-color);
  color: var(--subtitle-color);
  border-radius: 8px;
  padding: 6px;
}
.job-action svg + svg {
  margin-left: 12px;
}
.job-explain-content {
  padding: 50px 25px 30px;
}
.job-subtitle-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.job-subtitle-wrapper .posted {
  margin-left: auto;
}
.job-subtitle-wrapper .company-name {
  color: var(--active-color);
  font-weight: 600;
  font-size: 14px;
}
.job-subtitle-wrapper .comp-location,
.job-subtitle-wrapper .posted {
  color: var(--subtitle-color);
  font-size: 12px;
  font-weight: 500;
}
.job-subtitle-wrapper .comp-location {
  position: relative;
  margin-left: 10px;
}
.job-subtitle-wrapper .comp-location:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--placeholder-color);
  top: 49%;
  left: -8px;
  position: absolute;
}
.job-subtitle-wrapper .app-number {
  color: var(--body-color);
  position: relative;
  margin-left: 12px;
}
.job-subtitle-wrapper .app-number:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--placeholder-color);
  top: 50%;
  left: -7px;
  position: absolute;
}
.explain-bar {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  height: 66px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}
.explain-title {
  color: var(--subtitle-color);
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
}
.explain-subtitle {
  font-size: 13px;
  font-weight: 500;
  margin-top: -2px;
  white-space: nowrap;
}
.explain-contents {
  height: 66px;
}
.explain-contents + .explain-contents {
  border-left: 1px solid var(--border-color);
  padding-left: 16px;
}
.overview-text {
  margin-top: 30px;
}
.overview-text-header {
  font-weight: 600;
  margin-bottom: 25px;
}
.overview-text-subheader {
  font-size: 13px;
  line-height: 2em;
}
.overview-text-item {
  font-size: 13px;
  position: relative;
  display: flex;
}
.overview-text-item + .overview-text-item {
  margin-top: 20px;
}
.overview-text-item:before {
  content: "";
  border: 2px solid #61bcff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 8px;
  flex-shrink: 0;
}
.detail-page .job-overview {
  display: flex;
}
.detail-page .jobcards,
.detail-page .searched-bar {
  display: none;
}
@media screen and (max-width: 1300px) {
  .detail-page .search-type {
    display: none;
  }
  .detail-page .searchedjobs {
    padding-left: 0;
  }
}
@media screen and (max-width: 990px) {
  .explain-contents,
  .explain-bar {
    height: auto;
  }
  .explain-bar {
    flex-wrap: wrap;
    padding-bottom: 14px;
  }
  .explain-contents {
    width: 50%;
  }
  .explain-contents + .explain-contents {
    padding: 0;
    border: 0;
  }
  .explain-contents:nth-child(2) ~ .explain-contents {
    margin-top: 16px;
    border-top: 1px solid var(--border-color);
  }
  .job-subtitle-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .job-subtitle-wrapper .posted {
    margin-left: 0;
    margin-top: 6px;
  }
}
@media screen and (max-width: 930px) {
  .search-job,
  .search-salary {
    display: none;
  }
  .search-bar {
    width: auto;
  }
}
@media screen and (max-width: 760px) {
  .detail-page .job-overview-cards {
    display: none;
  }
  .user-name {
    display: none;
  }
  .user-profile {
    margin-right: 0;
  }
  .job-explain {
    margin-left: 0;
  }
}
@media screen and (max-width: 730px) {
  .search-type {
    display: none;
  }
  .searchedjobs {
    padding-left: 0;
  }
  .search-menu div:not(:last-of-type) {
    border: 0;
  }
  .jobcards {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-location {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .jobcards {
    grid-template-columns: repeat(1, 1fr);
  }
  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 590px) {
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .search.item {
    display: none;
  }
  .search-bar {
    flex-grow: 1;
  }
  .search-bar input {
    padding: 0 0 0 30px;
  }
  .search-button {
    margin-left: 16px;
  }
  .searched-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .searched-sort {
    margin-top: 5px;
  }
  .main-container {
    padding-top: 20px;
  }
}
@media screen and (max-width: 380px) {
  .explain-contents {
    width: 100%;
    margin: 0;
  }
  .explain-contents:nth-child(2) ~ .explain-contents {
    margin: 0;
    border: 0;
  }
  .wrapper {
    padding: 20px;
  }
  .header {
    padding: 0 20px;
  }
}
